* {
    /* 格式化浏览器 */
    padding: 0;
    margin: 0;
}

li {
    /* 格式化li标签 */
    list-style: none;
}


/* 整个页面的布局 */

.container {
    position: relative;
    /* 默认居中对齐 */
    margin: 20px auto;
    width: 1240px;
    height: 1500px;
    background-color: rgba(0, 0, 0, .1);
}

.container img {
    max-width: 100%;
}